<nav class="navbar">
  <div class="container">
    <div class="logo">
      <a href="/">
        <div class="logo-icon">
          <img src="images/Logo.jpg" alt="Al Mudassar Logo" />
        </div>
        <div class="logo-text">
          <h2>AL MUDASSAR</h2>
          <h6>REAL ESTATE AND BUILDERS</h6>
        </div>
      </a>
    </div>
    <nav class="nav-items">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/#services">Services</a></li>
        <li><a href="/#why-us">Why Us?</a></li>
        <li><a href="/#about">About</a></li>
        <li><a href="/contact">Contact Us</a></li>
      </ul>
    </nav>
    <!--  -->
    <div class="mobile-menu-toggle" id="mobileMenuToggle">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</nav>
